[submodule "Hardware/Main/AltiumLib"]
	path = Hardware/Libraries/WiseLab
	url = https://github.com/WiseLabCMU/AltiumLib.git
[submodule "Hardware/Libraries/ublox"]
	path = Hardware/Libraries/ublox
	url = https://github.com/u-blox/Altium-Designer-Library.git
[submodule "Source/framework/components/esp-request"]
	path = Source/framework/components/esp-request
	url = https://github.com/aperley/esp-request.git
[submodule "Support/esp-idf"]
	path = Support/esp-idf
	url = https://github.com/WiseLabCMU/esp-idf.git
